<div class="generic-container" ng-controller="myCtrl as ctrl" nv-file-drop="" uploader="uploader">
              <div class="row">

                <div class="col-md-3">

                    <h3>Select files</h3>

                    <div ng-show="uploader.isHTML5">
                        <!-- 3. nv-file-over uploader="link" over-class="className" -->
                        <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
                            Base drop zone
                        </div>

                    </div>

                    <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                    <input type="file" nv-file-select="" uploader="uploader"  /><br/>

                </div>

                <div class="col-md-9" style="margin-bottom: 40px">
                    <h2>Uploads only images (with canvas preview)</h2>
                    <h3>The queue</h3>
                    <p>Queue length: {{ uploader.queue.length }}</p>

                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th ng-show="uploader.isHTML5">Size</th>
                                <th ng-show="uploader.isHTML5">Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td>
                                    <strong>{{ item.file.name }}</strong>
                                    <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
                                </td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                                    <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                                    <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div>
                        <div>
                            Queue progress:
                            <div class="progress" style="">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <span class="glyphicon glyphicon-upload"></span> Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                            <span class="glyphicon glyphicon-trash"></span> Remove all
                        </button>
                    </div>

                </div>

            </div>

    <div class="panel panel-default">
        <div class="formcontainer">
            <form class="form-horizontal" name="myForm" ng-submit="ctrl.submit()">
                <input ng-model="ctrl.item.id" type="hidden"/>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="title">
                            Title
                        </label>
                        <div class="col-md-7">
                            <input class="title form-control input-sm" id="title" ng-minlength="3" ng-model="ctrl.item.title" placeholder="Enter your title" required="" type="text"/>
                            <div class="has-error" ng-show="myForm.$dirty">
                                <span ng-show="myForm.title.$error.required">
                                    This is a required field
                                </span>
                                <span ng-show="myForm.title.$error.minlength">
                                    Minimum length required is 3
                                </span>
                                <span ng-show="myForm.title.$invalid">
                                    This field is invalid
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="title">
                            Category
                        </label>
                        <div class="col-md-7">
                            <select class="form-control" ng-model="ctrl.item._category._id" ng-options="x._id as x.title for x in categoryOptions.options">
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label class="col-md-2 control-label" for="title">
                            Image
                        </label>
                        <div class="col-md-7">
                            test
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group form-actions">
                        <input class="pull-right btn btn-primary btn-sm" ng-disabled="myForm.$invalid" type="submit" value="{{!ctrl.item.id ? 'Add' : 'Update'}}" />
                        <button class=" pull-right btn btn-warning btn-sm" ng-click="ctrl.reset()" ng-disabled="myForm.$pristine" type="button">
                            Reset Form
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span class="lead">
                List of Items
            </span>
        </div>
        <div class="tablecontainer">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Category
                        </th>
                        <th width="100">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ctrl.items">
                        <td>
                            <span ng-bind="item.title">
                            </span>
                        </td>
                        <td>
                            <span ng-bind="item._category.title">
                            </span>
                        </td>
                        <td>
                            <button class="btn btn-success custom-width" ng-click="ctrl.edit(item.id)" type="button">
                                Edit
                            </button>
                            <button class="btn btn-danger custom-width" ng-click="ctrl.remove(item.id)" type="button">
                                Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>